section {
  width: 900px;
  margin: auto;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card img {
  height:100px;
}

.card {
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 20px;
  border: 1px solid grey;
  margin-bottom: 30px;
}

.text-center{
  text-align: center;
}

.card h2 {
  font-size: 16px;
}

.card p {
  font-size: 13px;
  opacity: 60%;
  padding-top: 5px;
}